.nav-overlay {
    background-color: transparent;
}

.home-overlay {
    background-color: rgba(0, 0, 0, .5);
    height: 100vh;
}

.dtb-overlay {
    background-color: rgba(0, 0, 0, .7);
    height: 100vh;
}

.dtb {
    background-image: url(../img/1databank.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.Welcome-tix {
    color: #ffffff;
    padding-top: 80px;
    font-size: 100pt;
}

body {
    background-color: rgba(0, 0, 0, .7);
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.slide {
    overflow: hidden !important;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
}

.slide img {
    width: 100%;
    height: 100vh;
}

.Home-img {
    padding-top: 30%;
    margin-left: auto;
    margin-right: auto;
}

.centered-img {
    padding-top: 50%;
    margin-left: auto;
    margin-right: auto;
}

.slide ul {
    width: 100%;
    padding: 0;
    margin: 0;
}

.slide ul li {
    width: 100%;
    list-style: none;
    float: left;
}

.welcome {
    background-color: #3bb7ae;
}

.sep {
    width: inherit;
    margin: 60px 0;
    background: white;
    width: 1000px;
    height: 1px;
    margin: 60px auto;
}

a {
    color: #ffffff;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

a:link,
a:visited {
    display: inline-block;
    width: 120px;
}

nav ul li a:hover,
nav ul li a:active {
    background-color: transparent !important;
    color: #3bb7ae;
}

nav ul li a:visited {
    background-color: transparent !important;
}

nav ul li a:focus {
    background-color: transparent !important;
}

.dropdown-menu {
    background-color: transparent !important;
}

.dropdown-menu > li > a {
    color: white;
}

.dropdown-menu > li > a:hover {
    color: #3bb7ae;
}

a[href*='.navbar']{

}
/* For mobile phones: */

@media only screen and (min-width: 200px) {
    /* For tablets: */
    .centered-img {
        padding-top: 0%;
        margin-left: auto;
        margin-right: auto;
    }
    .Welcome-tix {
        color: #ffffff;
        padding-top: 80px;
        font-size: 40pt;
    }
    .Home-img {
        padding-top: 72%;
        margin-left: auto;
        margin-right: auto;
    }
    .Y-logo {
        width: 140px;
    }
}

@media only screen and (min-width: 414px) {
    /* For tablets: */
    .centered-img {
        padding-top: 0%;
        margin-left: auto;
        margin-right: auto;
    }
    .Welcome-tix {
        color: #ffffff;
        padding-top: 80px;
        font-size: 70pt;
    }
    .Home-img {
        padding-top: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .centered-img {
        padding-top: 0%;
        margin-left: auto;
        margin-right: auto;
    }
    .Welcome-tix {
        color: #ffffff;
        padding-top: 80px;
        font-size: 100pt;
    }
    .Home-img {
        padding-top: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .centered-img {
        padding-top: 30%;
        margin-left: auto;
        margin-right: auto;
    }
    .Home-img {
        padding-top: 30%;
        margin-left: auto;
        margin-right: auto;
    }
    .Y-logo {
        width: 281px;
    }
}
